
html {
    background-color: #ffffff;              /* Esto es para darle color al fondo de la pagina*/ 
    font-family: 'Nunito', sans-serif;        /*Esto es para el tipo de letra */ 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;                   /* Esto ayuda a que el padding no ensanche tus cajas */
}

body {
    background: linear-gradient(180deg, #fff 50%, #c7bb6a 100%);
}
/*--------------------------------*/
/*HEADER*/
/*--------------------------------*/


.hero-container {
    background-image:url('../images/imagen-nosotros.jpg');
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    min-height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.barra-inicial {
    border-radius: 19px;
    background: linear-gradient(90deg, #997336 0%, #928F66 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 15px auto;
    padding: 10px 25px;
    min-height: 55px;
}

.bloque-identidad {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nombre-empresa{
    margin: 0;
    line-height: 1.1;
    color: #EBE7D9;
    font-weight: 600;
}

.nombre-brand {
    font-size: 20px;
}

.subtitulo-brand {
    font-size: 15px;
}

#logo-principal {
    height: 50px;
}


.navegacion { 
    display: flex;                /* ← pone los enlaces en fila horizontal*/
    gap: 40px;                    /* ← espacio entre cada enlace*/
    align-items: center;          /* ← centra verticalmente los enlaces en la barra*/
}

.navegacion a {
    color: #EBE7D9;             /* ← color del texto*/
    text-decoration: none;        /* ← quita el subrayado de los enlaces*/
    font-size: 20px;              /* ← tamaño del texto*/
    order: 1;
}


.btn-asesoria {
    background-color: #F8BF04;  /* El naranja/dorado de tu Figma */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 40px;
    word-spacing: 30%;
    letter-spacing: 2px;
}

.btn-asesoria:hover {
    background-color: #d49a3d;   /* Se oscurece un poco al pasar el mouse */
}


/*--------------------------------*/
/*SECCIÓN PRINCIPAL - VALORES*/
/*--------------------------------*/

.valores {
    display: flex;
    justify-content: center;        /* Centra el grupo entero horizontalmente */
    align-items: flex-start;        /* Alinea los iconos arriba */      
    gap: 80px;                      /* Espacio generoso entre cada valor */
    padding: 100px 5%;               /* Espacio arriba/abajo para que respire */
    flex-wrap: wrap;                /* Si la pantalla es chica, se acomodan en filas */
    max-width: 1200px;
    margin: 0 auto;                 /* Centra el bloque en la página */
}

.valores div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 180px;
    transition: transform 0.3s ease;
}

.valores div:hover {
    transform: translateY(-5px);
}

.icon-valores {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.texto-valores {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.5px;
}


/*--------------------------------*/
/*CUADROS*/
/*--------------------------------*/


.cuadro {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
    margin: 100px auto;
    gap: 200px;
}

.contenido-nosotros {
    flex: 1;
}

.titulo-contenido {
    color: #0f0f0f;
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.descripcion-contenido {
    color: #4b4b4b;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
}

.imagen-contenido {
    width: 350px;
    height: auto;
    border-radius: 10px;
    align-items: center;
}

.cuadro-invertido {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
    margin: 80px auto;
    gap: 200px;
}


/*--------------------------------*/
/*FOOTER*/
/*--------------------------------*/


.barra-final {
    background: linear-gradient(90deg, #997336 0%, #928F66 100%);
    text-align: center;
    padding: 10px 0;
    border-radius: 12px 12px 0px 0px; 
}

.logo-web { 
    height: 40px;
}

.barra-final h4 {
    font-size: 15px;
    color: #e0e0e0;

}

/*--------------------------------*/
/*--------------------------------*/