html {
    background-color: #ffffff;              /* Esto es para darle color al fondo de la pagina*/ 
    font-family: 'Nunito', sans-serif;        /*Esto es para el tipo de letra */ 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;                   /* Esto ayuda a que el padding no ensanche tus cajas */
}

body {
    background: linear-gradient(180deg, #fff 50%, #c7bb6a 100%);
}
/*--------------------------------*/
/*HEADER*/
/*--------------------------------*/


.hero-container {
    background-image:url('../images/imagen-sectores.jpg');
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
    min-height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.barra-inicial {
    border-radius: 19px;
    background: linear-gradient(90deg, #997336 0%, #928F66 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 15px auto;
    padding: 10px 25px;
    min-height: 55px;
}

.bloque-identidad {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nombre-empresa{
    margin: 0;
    line-height: 1.1;
    color: #EBE7D9;
    font-weight: 600;
}

.nombre-brand {
    font-size: 20px;
}

.subtitulo-brand {
    font-size: 15px;
}

#logo-principal {
    height: 50px;
}


.navegacion { 
    display: flex;                /* ← pone los enlaces en fila horizontal*/
    gap: 40px;                    /* ← espacio entre cada enlace*/
    align-items: center;          /* ← centra verticalmente los enlaces en la barra*/
}

.navegacion a {
    color: #EBE7D9;             /* ← color del texto*/
    text-decoration: none;        /* ← quita el subrayado de los enlaces*/
    font-size: 20px;              /* ← tamaño del texto*/
    order: 1;
}


.btn-asesoria {
    background-color: #F8BF04;  /* El naranja/dorado de tu Figma */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 40px;
    word-spacing: 30%;
    letter-spacing: 2px;
}

.btn-asesoria:hover {
    background-color: #d49a3d;   /* Se oscurece un poco al pasar el mouse */
}


/*--------------------------------*/
/*ESPECIALIDADES*/
/*--------------------------------*/


.especialidades {
    display: block;
    text-align: center;
    padding: 80px 0;
}

.especialidades h2 {
    color: #785C06;
    font-size: 40px;
    padding-bottom: 5px;
}

.especialidades p {
    color: #4b4b4b;
    font-size: 18px;
    font-weight: 500;
}

.contenedor-sectores {
    display: grid;
    grid-template-columns: repeat(2, 400px);            /* Dos columnas de 400px */
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
}

.sector-item {
    position: relative;
    height: 400px;                                      /* Lo hacemos cuadrado */
    background-color: #f4f4f4;                        /* Color base antes del hover */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contenido-sector {
    position: relative;
    z-index: 5;
    text-align: center;
    padding: 30px;
    width: 100%;
    transition: all 0.5s ease;
}

.sector-item h3 {
    color: #785C06;
    font-size: 24px;
    margin: 0;
    transition: all 0.5s ease;
}

.sector-item .desc {
    color: #ffffff;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    margin-top: 15px;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);            /* Oscurece la imagen para leer el texto */
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1;
}

/*EFECTO HOVER*/

.sector-item:hover .overlay {
    opacity: 1;
}

.sector-item:hover h3 {
    color: #FFD700;                             /* Dorado brillante al hover */
    transform: translateY(-10px);
    z-index: 6;
}

.sector-item:hover .desc {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.s-servicios:hover { background-image: url('../images/sector-servicios.jpg'); background-size: cover; }
.s-hidrocarburos:hover { background-image: url('../images/sector-hidrocarburos.jpg'); background-size: cover; }
.s-comercial:hover { background-image: url('../images/sector-comercial.jpg'); background-size: cover; }
.s-minero:hover { background-image: url('../images/sector-mineria.jpg'); background-size: cover; }


/*--------------------------------*/
/*FOOTER*/
/*--------------------------------*/


.barra-final {
    background: linear-gradient(90deg, #997336 0%, #928F66 100%);
    text-align: center;
    padding: 10px 0;
    border-radius: 12px 12px 0px 0px; 
}

.logo-web { 
    height: 40px;
}

.barra-final h4 {
    font-size: 15px;
    color: #e0e0e0;

}

/*--------------------------------*/
/*--------------------------------*/