
html {
    background-color: #ffffff;              /* Esto es para darle color al fondo de la pagina*/ 
    font-family: 'Nunito', sans-serif;        /*Esto es para el tipo de letra */ 
}

/* Esto selecciona absolutamente todo y le quita los espacios por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;                   /* Esto ayuda a que el padding no ensanche tus cajas */
}

body {
    background: linear-gradient(180deg, #fff 50%, #c7bb6a 100%);
}
/*--------------------------------*/
/*HEADER*/
/*--------------------------------*/


.hero-container {
    background-image:url('../images/imagen-fondo-inicio.jpg');
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.barra-inicial {
    border-radius: 19px;
    background: linear-gradient(90deg, #997336 0%, #928F66 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 15px auto;
    padding: 10px 25px;
    min-height: 55px;
}

.bloque-identidad {
    display: flex;
    align-items: center;
    gap: 3px;
}



.nombre-empresa{
    margin: 0;
    line-height: 1.1;
    color: #EBE7D9;
    font-weight: 600;
}

.nombre-brand {
    font-size: 20px;
}

.subtitulo-brand {
    font-size: 15px;
}

#logo-principal {
    height: 50px;
}


.navegacion { 
    display: flex;                /* ← pone los enlaces en fila horizontal*/
    gap: 40px;                    /* ← espacio entre cada enlace*/
    align-items: center;          /* ← centra verticalmente los enlaces en la barra*/
}

.navegacion a {
    color: #EBE7D9;             /* ← color del texto*/
    text-decoration: none;        /* ← quita el subrayado de los enlaces*/
    font-size: 20px;              /* ← tamaño del texto*/
    order: 1;
}


.btn-asesoria {
    background-color: #F8BF04;  /* El naranja/dorado de tu Figma */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 40px;
    word-spacing: 30%;
    letter-spacing: 2px;
}

.btn-asesoria:hover {
    background-color: #d49a3d;   /* Se oscurece un poco al pasar el mouse */
}


/*--------------------------------*/
/*SECCIÓN PRINCIPAL*/
/*--------------------------------*/


.seccion-principal {
    flex-grow: 1;               /* Toma todo el espacio que sobra debajo de la barra */
    display: flex;
    justify-content: center;    /* Centra el texto horizontalmente */
    align-items: center;        /* Centra el texto verticalmente */
    text-align: center;         /* Alinea las letras al centro */
    margin-bottom: 300px;
}


.contenido-principal {
    max-width: 900px;           /* Evita que la frase se estire demasiado a lo ancho */
}

.frase-principal {
    font-size: 40px;            /* Tamaño grande para impacto */
    color:#EBE7D9;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.texto-destacado {
    color: #F8BF04;            /* El dorado de tu marca para "gasto" e "inversión" */
}

.descripcion-principal {
    font-size: 20px;          
    color:#EBE7D9;
    margin-top: 20px;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-ecosistemas {
    background-color: #F8BF04;  /* El naranja/dorado de tu Figma */
    color: white;
    border: none;
    padding: 18px 40px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    letter-spacing: 5px;
    margin-top: 28px;
    margin-left: 24px;
    display: inline-block;
}

.btn-ecosistemas:hover {
    background-color: #d49a3d;   /* Se oscurece un poco al pasar el mouse */
}


/*--------------------------------*/
/*METRICAS*/
/*--------------------------------*/


.seccion-metricas {
    background-color: #ffffff;   /* Fondo blanco puro como en Figma */
    padding: 60px 0;
    text-align: center;
}

.contenedor-metricas {
    display: flex;
    justify-content: space-around;  /* Reparte los 3 bloques equitativamente */
    align-items: center;
}

.metrica-item h2 {
    font-size: 60px;
    font-weight: normal;
    color: #1b1b1b;
    margin-bottom: 5px;
}

.metrica-item p {
    font-size: 20px;
    letter-spacing: 1px;
    color: #4b4b4b;
    font-weight: 500;
}

.linea-separadora {
    width: 80%;
    border: 0;
    border-top: 2.5px solid #1b1b1b;
    margin: 40px auto 0 auto;
}


/*--------------------------------*/
/*SOLUCIONES ESTRATÉGICAS*/
/*--------------------------------*/


.soluciones {
    display: block;
    text-align: center;
    padding: 60px 0;
}

.soluciones h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    color: #785C06;
}

.soluciones p {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: #4b4b4b;
}

.contenedor-cards {
    display: flex;
    justify-content: center;   /* Centra el grupo de cuadros horizontalmente */
    align-items: stretch;      /* Hace que todos los cuadros tengan la misma altura (muy pro) */
    gap: 60px;                 /* El espacio exacto entre cada cuadro */
    padding: 40px 5%;          /* 40px arriba/abajo, 5% a los lados para que no toquen el borde */
    flex-wrap: wrap;           /* ¡Vital! Si la pantalla es chica, los cuadros bajan solitos */
}

.card {
    background-color: #ffffff;
    border-radius: 19px;
    padding: 40px 30px;
    flex: 1;                    /* Hace que todos crezcan igual */
    min-width: 250px;           /* Evita que se aplasten mucho */
    max-width: 300px;           /* Evita que se estiren demasiado */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-bottom: 4px solid transparent;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-bottom: 4px solid #785C06;
}

.card h4 {
    text-align: center;
    padding-bottom: 5px;
}

.card p {
    text-align: center;
}


/*--------------------------------*/
/*RESULTADOS*/
/*--------------------------------*/


.resultados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 150px auto;
    padding: 0 50px;
    gap: 150px;
}

.contenido-resultados {
    flex: 2;                        /* Le damos más espacio al texto (60% aprox) */
    text-align: left;
}

.gestion-contable {
    flex: 1;
    text-align: center;
}

.contenido-resultados h3 {
    color: #785C06;
    font-size: 32px;
    margin-bottom: 10px;
}

.contenido-resultados p {
    color: #4b4b4b;
    max-width: 700px;
    font-size: 19px;
    font-weight: 500;
    line-height: 1.5;
}

.gestion-contable h3 {
    color: #785C06;
    font-size: 32px;
    margin-bottom: 10px;
}

.btn-reunion {
    background-color: #F8BF04;  /* El naranja/dorado de tu Figma */
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    letter-spacing: 1px;
}

.btn-reunion:hover {
    background-color: #d49a3d;   /* Se oscurece un poco al pasar el mouse */
}


/*--------------------------------*/
/*FOOTER*/
/*--------------------------------*/


.barra-final {
    background: linear-gradient(90deg, #997336 0%, #928F66 100%);
    text-align: center;
    padding: 10px 0;
    border-radius: 12px 12px 0px 0px; 
}

.logo-web { 
    height: 40px;
}

.barra-final h4 {
    font-size: 15px;
    color: #e0e0e0;

}

/*--------------------------------*/
/*--------------------------------*/
